@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-principal;
  background-color: $color-fondo;
  color: $color-texto;
}

a {
  text-decoration: none;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}