$color-principal: #e86c8b;
$color-principal-hover: #cf5a77;

$color-texto: #222;
$color-texto-suave: #555;

$color-fondo: #f9f9f9;
$color-blanco: #fff;
$color-negro: #111;

$sombra-suave: 0px 6px 18px rgba(0, 0, 0, 0.15);
$sombra-fuerte: 0px 10px 25px rgba(0, 0, 0, 0.18);

$radius-grande: 25px;
$radius-mediano: 20px;
$radius-chico: 12px;

$font-principal: "Montserrat", sans-serif;

//
$font-titulos: "Playfair Display", serif;
$color-acento: #f5c9a0;        // durazno suave
$color-acento-oscuro: #e0a070; // para hover o bordes
$color-fondo-calido: #fdf6f0;  // crema muy suave
$color-texto-claro: #f9f2ef;